/*universal*/
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
/*body*/
body{
	background-color: #010502;
}
/*header*/

.title{
	display: flex;
	align-items: center;
	justify-content: space-between;
padding:20px 5%;	

}
.title > p,
.message{
	font-family:"Uncial Antiqua" , sans-serif;
	font-weight: bold;
	font-size:clamp(24px,5vw,60px);	
	color: #6B9732;


}
.title > p {
    flex:0 1 200px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.title img{
    width:100%;
    max-width:1000px;
}
.logo{
    flex: 2 1 600px;
}

.logo img{
    width:100%;
    display:block;
}

.title > p:first-child {
    justify-content: flex-start;
}

.title > p:last-child {
    justify-content: flex-end;
}
#human-score,
#computer-score {
    min-width: 2ch;
    text-align: center;
}
/*game*/
.gameBar{
	display:flex;
	gap: clamp(20px, 5vw, 150px);
	justify-content: center;
	margin:20px;
	flex-wrap:wrap;
}

.choice{
	text-align:center;
	flex:1;
}
.choice img{
 width:100%;
    max-width:400px;
    height:auto;
}
.choice p{
	font-weight: 800;
	color: #6A9914;
	font-size:clamp(18px,2.5vw,30px);
	font-family: "Uncial Antiqua", "Bitcount Single", sans-serif;

}
.message{
	text-align: center;
	margin: 30px;
}

